<!-- Felix -->
<div th:fragment="navbar" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <!-- Brand/logo -->
        <div class="container">
            <a class="navbar-brand" href="/">
                <span id="logo">Vikar work</span>
                <!--<img src="/images/VCnavbar.jpg" height="60px" width="80px">-->
            </a>

            <!-- Links -->
            <ul class="navbar-nav mr-5">
                <li class="nav-item">
                    <a class="nav-link" href="/">Forside</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listProducts">Produkter</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/aboutUs">Om os</a>
                </li>
                <li class="nav-item">
                    <form action="/" th:action="@{/search}" method="post">
                        <input type="text" th:name="searchJob" placeholder="Søg efter profiler eller job opslag" class="nav-link">
                        <button class="btn btn-primary" type="submit">Søg</button>
                </li>
                <!--<li class="nav-item"><div class = "dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/aw">Tanke & Coils</a>
                    <ul class="dropdown-menu dropdown-content">
                        <li th:each="category : ${categories}" th:if="${category.categorySubList==3}"> <a th:href = "'/category/'+${category.categoryId}"><span th:text="${category.categoryName}"></span></a></li>
                    </ul>
                </div>-->
            </ul>
        </div>
    </nav>
</div>