<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:href="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head :: styles">
    <!--<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>-->
</head>
<body>
<div class="container">
    <header th:include="fragments/header :: navbar"></header>

    <div id="left">

        <h1>Opgaver</h1>

        <form class="form-inline" id="filter" method="Post" th:action="@{/filterForFreelance}">
            <label>Fagområde</label>
            <select class="form-control mr-sm-2" th:name="job">
                <option th:value="0">Alle</option>
                <option th:each="job : ${jobs}" th:value="${job.id}" th:text="${job.profession}" th:selected="${job.id} == ${jobId}"></option>
            </select>

            <label>Timeløn (min.)</label>
            <input type="number" class="form-control mr-sm-2" th:value="${wage}" th:name="hourlyWage" required>

            <label>Start dato</label>
            <input type="date" class="form-control mr-sm-2" th:value="${today}"  th:name="startDate" required>

            <button class="btn btn-primary" type="submit">Filter</button>
            <button class="btn btn-outline-primary" type="reset">Nulstil</button>
        </form>

        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Navn</th>
                <th>By</th>
                <th>Start dato</th>
                <th>Timeløn</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="assignment : ${assignments}">
                <td th:text="${assignment.name}"></td>
                <td th:text="${assignment.city}"></td>
                <td th:text="${assignment.dateStart}"></td>
                <td th:text="${assignment.hourlyWage + ' kr.'}"></td>
                <td>
                    <a th:href="${'/showAssignment/' + assignment.id}" class="btn btn-outline-dark mr-2 btn-sm"><i class="fas fa-ellipsis-h"></i> Vis detaljer</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <div id="right">
        <div id="map_container"></div>
    </div>

    <footer th:include="fragments/footer :: bottom"></footer>
</div>

<script th:inline="javascript">
    // Initialize and add the map
    function initMap() {
        // map start location
        var startloc = {lat: 55.716514, lng: 12.531791};

        // The map
        var map = new google.maps.Map(document.getElementById('map_container'), {zoom: 15, center: startloc});
        var geocoder = new google.maps.Geocoder();

        var theList = JSON.parse([[${json}]]);

        let i;


        for (i = 0; i < theList.length; i++) {
            geocoder.geocode({'address': ""+theList[i].streetname+" "+theList[i].streetnumber}, function(results, status){

                if (status == google.maps.GeocoderStatus.OK) {
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location,
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            })};

    }

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDz6P14TeAJMi8Ot9A59FnBgwDtl4tiLfk&callback=initMap"></script>
</body>
</html>