<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Freelancer</title>
</head>
<body>

</body>
</html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head :: styles">
    <!--<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>-->
</head>
<body>
<div class="container">

    <header th:include="fragments/header :: navbar"></header>

    <div id="inner_container">

        <h1>Rediger bruger</h1>

        <form th:method="put" th:action="@{/editWorker}" th:object="${worker}">

            <input type="hidden" th:field="${worker.id}">

            <label>Fornavn</label>
            <input type="text" class="form-control mr-sm-2"  th:field="${worker.firstname}" required>

            <label>Efternavn</label>
            <input type="text" class="form-control mr-sm-2"  th:field="${worker.lastname}" required>

            <label>Email</label>
            <input type="email" class="form-control mr-sm-2"  th:field="${worker.email}" required>

            <label>Brugernavn</label>
            <input type="text" class="form-control mr-sm-2"  th:field="${worker.username}" required>

            <label>Password</label>
            <input type="text" class="form-control mr-sm-2"  th:field="${worker.password}" required>

            <label>Telefon nummer</label>
            <input type="text" class="form-control mr-sm-2"  th:field="${worker.phoneNumber}" required>

            <label>Bank nummer</label>
            <input type="text" class="form-control mr-sm-2"  th:field="${worker.bankNumber}" required>

            <label>Vej</label><input type="text" class="form-control mr-sm-2"  th:field="${worker.streetName}" required> <label>Nr</label><input type="number" class="form-control mr-sm-2"  th:field="${worker.houseNumber}" required>

            <label>By</label>
            <input type="text" class="form-control mr-sm-2"  th:field="${worker.city}" required>

            <label>PostNr</label>

            <input type="number" class="form-control mr-sm-2"  th:field="${worker.zip}" required>


            <label>CVR (hvis privatperson vælg nul)</label>
            <input type="number" class="form-control mr-sm-2"  th:field="${worker.CVRNumber}" required>

            <button class="btn btn-light" type="button" onclick="location.href='/landingPage';">Annuller</button>

            <button class="btn btn-primary" type="submit">Gem</button>

        </form>

        <br>

        <script type="text/javascript">
            function confirm_delete(form) {
                if(!confirm("Er du sikker på at du ønsker at slette denne bruger?\nHandlingen kan ikke fortrydes!")) {
                    return false;
                } else {
                    //form.submit();
                    return true;
                }
            }
        </script>

        <form th:method="post" th:action="@{/deleteWorker}" th:object="${worker}" onsubmit="return confirm_delete(this.form)">
            <input type="hidden" th:field="${worker.id}">
            <button class="btn btn-danger" type="submit">Slet</button>

        </form>

    </div>

    <footer th:include="fragments/footer :: bottom"></footer>

</div>
</body>
</html>