<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:href="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head :: styles">
    <!--<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>-->
    <title>Google Map Hello World Example</title>
</head>
<body>
<header th:include="fragments/header :: navbar"></header>
<div id="map_container"></div>
<script th:inline="javascript">
    // Initialize and add the map
    function initMap() {
        // The location of Uluru
        var startloc = {lat: 55.716514, lng: 12.531791};
        /*var uluru2 = {lat: -25.271365, lng: 131.383008};*/
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map_container'), {zoom: 15, center: startloc});
        // The marker, positioned at Uluru
        var marker, marker2;
/*        marker = new google.maps.Marker({position: uluru, map: map});
        marker2 = new google.maps.Marker({position: uluru2, map: map});*/

        var marker = [];
        var position = [];
        var theList = JSON.parse([[${json}]]);

        let i;
        for (i = 0; i < theList.length; i++) {
            position[i] = {lat: theList[i].latitude, lng: theList[i].longitude};
            marker[i] = new google.maps.Marker({position: position[i], map: map});
        }



    }
</script>
<!--Load the API from the specified URL
* The async attribute allows the browser to render the page while the API loads
* The key parameter will contain your own API key (which is not needed for this tutorial)
* The callback parameter executes the initMap() function
-->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDz6P14TeAJMi8Ot9A59FnBgwDtl4tiLfk&callback=initMap">
</script>
</body>
</html>