<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:href="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head :: styles">
    <!--<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>-->
</head>
<body>
<div class="container">
    <header th:include="fragments/header :: navbar"></header>

    <div id="inner_container">

        <br>
        <h1>Vis Opgave</h1>
        <h2>Job</h2>

        <p>
            <span th:text="${assignment.name}"></span>
        </p>

        <h3>Beskrivelse</h3>
        <p>
            <span th:text="${assignment.description}"></span>
        </p>
        <h3>Adresse</h3>
        <p>
        <span th:text="${assignment.streetName}"></span> <span th:text="${assignment.houseNumber}"></span>
        <br>
        <span th:text="${assignment.ZIP}"></span> <span th:text="${assignment.city}"></span>
        </p>

        <h3>Krav til erfaring</h3>
        <p>
            <span th:text="${assignment.neededExperience}"></span>
        </p>

        <h3>Forventet timeløn</h3>
        <p>
            <span th:text="${assignment.hourlyWage}"></span>
        </p>

        <div id="apply">
            <h3>Tilmeldte ansøgere</h3>
            <span th:if="${type == 'w'}">
                <form th:if="${!requested}" th:method="post" th:action="@{/applyForAssignment}" class="form-inline">
                    <input th:name="assignmentId" type="hidden" th:value="${assignment.id}">
                    <input th:name="userId" type="hidden" th:value="${userId}">
                    <button class="btn btn-primary" type="submit"><i class="fas fa-user-plus"></i> Ansøg</button>
                </form>

                <form th:if="${requested}" th:method="post" th:action="@{/unapplyForAssignment}" class="form-inline">
                    <input th:name="assignmentId" type="hidden" th:value="${assignment.id}">
                    <input th:name="userId" type="hidden" th:value="${userId}">
                    <label class="pr-3"><i class="fas fa-check mr-1"></i>Ansøgning sendt</label>
                    <button class="btn btn-danger" type="submit"><i class="fas fa-user-times"></i></button>
                </form>
            </span>
        </div>
        <div id="workersOnAssignment">
        <span th:each="worker : ${workersOnAssignment}">
            <i class="fas fa-user-check"></i>
            <span class="sad" th:text="${worker.firstname} + ' ' + ${worker.lastname}"></span>
        </span>
        </div>
        <br>

        <span th:if="${type == 'c' and companyId == userId}">

            <h4>Opgave aktiv status </h4>

            <form th:method="post" th:action="@{/assignmentSetActive/}" class="form-inline d-block mx-2 float-left" th:object="${assignment}">

                <input th:name="id" type="hidden" th:field="${assignment.id}">

                <select th:name="arkiveret" onchange='this.form.submit()'class="form-control mr-2">
                    <option th:if="${assignment.archived}" value="1" text="Arkiveret" selected>Arkiveret</option>
                    <option th:if="${!assignment.archived}" value="1" text="Arkiveret">Arkiveret</option>

                    <option th:if="${!assignment.archived}" value="0" text="Aktiv" selected>Aktiv</option>
                    <option th:if="${assignment.archived}" value="0" text="Aktiv">Aktiv</option>
                </select>

            </form>

        </span>
        <br>

    </div>

    <footer th:include="fragments/footer :: bottom"></footer>
</div>




</body>
</html>



