<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:href="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head :: styles">
    <!--<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>-->
</head>
<body>
<div class="container">
    <header th:include="fragments/header :: navbar"></header>
    <br>
    <h1>Profile</h1>
    <h3>Navn:</h3>
    <span th:text="${Worker.firstname}"></span>
    <span th:text="${Worker.lastname}"></span>
    <br>
    <br> <br>
    <h4>Adresse:</h4>
    <span th:text="${Worker.streetName}"></span> <span th:text="${Worker.houseNumber}"></span>
    <br>
    <span th:text="${Worker.zip}"></span> <span th:text="${Worker.city}"></span>
    <br>
    <br>

    <div>
        <h4>CV:</h4>
        <span th:each="cv : ${workerCV}">
            <br>
            <span class="sad" th:text="${cv.workplace}"></span>
            <span class="sad" th:text="${cv.jobTitle}"></span>
            <span class="sad" th:text="${cv.startDate}"></span>
            <span class="sad" th:text="${cv.endDate}"></span>

            <form method="Post" th:action="@{/removeFromCv}" th:object="${removeCv}">
                <input th:name="cvId" type="hidden" th:value="${cv.id}">
                <input th:name="workerId" type="hidden" th:value="${Worker.id}">
                <button th:if="@{${SessionID} == ${Worker.id} and ${SessionType == 'w'}}" type="submit">Remove</button>
            </form>
        </span>
        <a th:if="@{${SessionID} == ${Worker.id} and ${SessionType == 'w'}}" th:href="@{'/addToCv/'+${Worker.id}}">Tilføj til CV</a>
    </div>





</div>




</body>
</html>



