<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:href="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head :: styles">
    <!--<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>-->
</head>
<body>
<div class="container">
    <header th:include="fragments/header :: navbar"></header>
    <br>
    <h1>Vis Opgave</h1>
    <h3>Job:</h3>
    <span th:text="${assignment.name}"></span>
    <br>
    <br>

    <h4>Beskrivelse:</h4>
    <span th:text="${assignment.description}"></span>
    <br>
    <br>
    <h4>Adresse:</h4>
    <span th:text="${assignment.streetName}"></span> <span th:text="${assignment.houseNumber}"></span>
    <br>
    <span th:text="${assignment.ZIP}"></span> <span th:text="${assignment.city}"></span>
    <br>
    <br>

    <h4>Krav til erfaring:</h4>
    <span th:text="${assignment.neededExperience}"></span>
    <br>
    <br>


    <h4>Forventet timeløn:</h4>
    <span th:text="${assignment.hourlyWage}"></span>
    <br>
    <br>

    <span th:if="${type == 'w'}">
        <form th:if="${!requested}" th:method="post" th:action="@{/applyForAssignment}" class="form-inline">
            <input th:name="assignmentId" type="hidden" th:value="${assignment.id}">
            <input th:name="userId" type="hidden" th:value="${userId}">
            <button class="btn btn-primary" type="submit">Ansøg</button>
        </form>

        <form th:if="${requested}" th:method="post" th:action="@{/unapplyForAssignment}" class="form-inline">
            <input th:name="assignmentId" type="hidden" th:value="${assignment.id}">
            <input th:name="userId" type="hidden" th:value="${userId}">
            <label class="pr-3"><i class="fas fa-check mr-1"></i>Ansøgning sendt</label>
            <button class="btn btn-danger" type="submit">Annuller ansøgning</button>
        </form>
    </span>

    <h3>Tilmeldte ansøgere:</h3>

    <br>
    <div id="workersOnAssignment">
    <span th:each="worker : ${workersOnAssignment}">
        <br>
        <span class="sad" th:text="${worker.firstname}"></span>
    </span>
    </div>
    <br>

    <h4>Opgave aktiv status: </h4>
    <form th:method="post" th:action="@{/assignmentSetActive/}" class="form-inline d-block mx-2 float-left" th:object="${assignment}">
        <input th:name="id" type="hidden" th:field="${assignment.id}">

        <select th:name="arkiveret" onchange='this.form.submit()'class="form-control mr-2">
            <option th:if="${assignment.archived}" value="1" text="Arkiveret" selected>Arkiveret</option>
            <option th:if="${!assignment.archived}" value="1" text="Arkiveret">Arkiveret</option>

            <option th:if="${!assignment.archived}" value="0" text="Aktiv" selected>Aktiv</option>
            <option th:if="${assignment.archived}" value="0" text="Aktiv">Aktiv</option>
        </select>
    </form>
    <br>
</div>




</body>
</html>



