<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:href="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head :: styles">
    <!--<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>-->
</head>
<body>
<div class="container">
    <header th:include="fragments/header :: navbar"></header>
</div>
</body>


    <br>
    <br>



    <h1 th:text="${assignment.name}"></h1>

    <h3 th:text="${assignment.description}"></h3>

    <h3 th:text="${assignment.streetName}"></h3>

    <h3 th:text="${assignment.city}"></h3>

    <h3 th:text="${assignment.neededExperience}"></h3>

    <h3 th:text="${assignment.houseNumber}"></h3>

    <h3 th:text="${assignment.hourlyWage}"></h3>

<a th:if="${assignment.isArchived}">Arkiveret</a>
<a th:if="${!assignment.isArchived}">Ikke arkiveret</a>




    <input class="btn btn-light" type="button" value="Annuller" onclick="location.href='/adminListProducts';"/>

    <button class="btn btn-primary" type="submit">Gem</button>


</html>
<!--



